@charset "utf-8";

section {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
header, section, footer, aside {
    width: 600px;
    margin: auto;
    /*border: 1px solid black;*/
    border-radius: 10px;
    text-align: center;
}

body {
    background-color: black;
}

section img {
    width: 100%;
}

main {
    border-radius: 15px; 
    background-color: white;
    margin: auto;
    width: 650px;
}